RewriteEngine On
RewriteBase /
#RewriteCond %{REQUEST_FILENAME} -f

RewriteRule ^([0-9]+)$ /display.php?id=$1
RewriteRule ^([0-9]+)/delete$ /delete.php?id=$1
RewriteRule ^([0-9]+)/delete/confirm$ /delete.php?id=$1&confirm=1
RewriteRule ^([0-9]+)/edit$ /edit.php?id=$1
RewriteRule ^([0-9]+)/fork$ /fork.php?id=$1
RewriteRule ^([0-9]+)/raw/(.+)$ /raw.php?id=$1&file=$2

RewriteRule ^list$ /list.php
RewriteRule ^list/([0-9]+)$ /list.php?page=$1
