<?php
//$GLOBALS['phorkie']['cfg']['baseurl']  = '/';
//$GLOBALS['phorkie']['cfg']['gitdir']  = '/var/cache/git/paste/git/';
//$GLOBALS['phorkie']['cfg']['workdir'] = '/var/cache/git/paste/work/';
//$GLOBALS['phorkie']['cfg']['cachedir'] = '/var/cache/phorkie/';
//$GLOBALS['phorkie']['cfg']['git']['public'] = 'git://bogo/git/paste/';
//$GLOBALS['phorkie']['cfg']['git']['private'] = 'ssh://git@bogo:paste/';
//$GLOBALS['phorkie']['cfg']['elasticsearch'] = 'http://localhost:9200/phorkie/';
//$GLOBALS['phorkie']['cfg']['setupcheck'] = false;
//$GLOBALS['phorkie']['cfg']['perPage'] = 10;

//$GLOBALS['phorkie']['auth']['securityLevel'] = 0;
//$GLOBALS['phorkie']['auth']['listedUsersOnly'] = false;
//$GLOBALS['phorkie']['auth']['users'] = array(
//    'https://www.google.com/accounts/o8/id?id=ABCDEFGHIJKLMNOPQRSTUVWXYZ',
//    'http://anonymous.phorkie.openid'
//);
?>
