<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="{{css}}"/>
  <link rel="stylesheet" href="/css/phorkie.css" />
  <title>{% block title %}{% endblock %} - {{title}}</title>
  <script src="/js/jquery-1.7.2.min.js"></script>
  <script src="/js/phorkie.js"></script>
  {% block meta %}{% endblock %}
 </head>
 <body>
  {{topbar|raw}}
  <div class="navbar">
   <div class="navbar-inner">
    <div class="container">
     <a class="brand" href="/">
      {{title}}
     </a>
     <ul class="nav">
      <li>
       <a href="/new">New paste</a>
      </li>
      <li>
       <a href="/list">List all</a>
      </li>
      {% if db.adapter %}
      <li>
       <form class="navbar-search pull-left" action="/search" method="get">
        <input type="text" class="search-query" name="q" placeholder="Search" value="{{query}}"/>
       </form>
      </li>
      {% endif %}
     </ul>
    </div>
   </div>
  </div>

  <div class="container">
   <div class="row">
    <div class="span9">
     {% block content %}{% endblock %}
    </div>
    <div class="span3">
     <div style="height: 1em"></div>
     {% block sidebar %}{% endblock %}
    </div>
   </div>
  </div>

  <div class="container footer">
   <a href="//sf.net/p/phorkie/">phorkie</a>,
   the self-hosted, git-based pastebin software is available under the
   <a href="https://sf.net/p/phorkie/">
    <acronym title="GNU Affero General Public License">AGPL</acronym></a>.
  </div>

 </body>
</html>