<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <base href="{{baseurl}}" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/font-awesome.css"/>
  <link rel="stylesheet" href="css/phorkie.css"/>
  {% if css %}
  <link rel="stylesheet" href="{{css}}"/>
  {% endif %}
  {% if iconpng %}
  <link rel="icon" href="{{iconpng}}" type="image/png"/>
  {% else %}
  <link rel="icon" href="favicon.ico"/>
  {% endif %}
  <title>{% block title %}{% endblock %} - {{title}}</title>
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/phorkie.js"></script>
  {% block meta %}{% endblock %}
 </head>
 <body>
  {{topbar|raw}}
  <div class="navbar navbar-inverse navbar-static-top">
   <div class="navbar-inner">
    <div class="container">
     <ul class="nav">
      <li>
       <a class="brand" href="{{baseurl}}">{{title}}</a>
      </li>
      <li>
       <a href="new">New paste</a>
      </li>
      <li>
       <a href="list">List all</a>
      </li>
      {% if db.adapter %}
      <li class="nav-collapse">
       <form class="span4 pull-right navbar-form" action="search" method="get">
        <input type="text" class="search-query" name="q" placeholder="Search" value="{{query}}"/>
       </form>
      </li>
      {% endif %}
     </ul>
     <ul class="nav pull-right">
      {% if identity %}
      <li>
       <a href="user"><img class="avatar-tiny" src="{{htmlhelper.getIconUrl(email, 20)}}" width="20" height="20" /> {{name}}</a>
      </li>
      {% endif %}
      {% if db.adapter %}
      <li>
       <button class="btn btn-navbar btn-inverse pull-right" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
       </button>
      </li>
      {% endif %}
      {% if identity %}
      <li>
       <a href="login?logout">Logout</a>
      </li>
      {% else %}
      <li>
       <a href="login">Login</a>
      </li>
      {% endif %}
     </ul>
    </div>
   </div>
  </div>

  <div class="container">
   <div class="row">
    <div class="span9">
     {% if suggestSetupCheck %}
     <div class="alert alert-warning">
       No configuration file found.
       Visit the <a href="setup">setup check page</a> for more information.
     </div>
     {% endif %}
     {% block content %}{% endblock %}
    </div>
    <div class="span3">
     <div class="content-padding-fix"></div>
     {% block sidebar %}{% endblock %}
    </div>
   </div>
  </div>

  <div class="container footer">
   <a href="//sf.net/p/phorkie/">phorkie</a>,
   the self-hosted, git-based pastebin software is available under the
   <a href="http://www.gnu.org/licenses/agpl-3.0.html">
    <abbr title="GNU Affero General Public License">AGPL</abbr></a>.
  </div>
  {% if autologin %}
  <script src="js/autologin.js"></script>
  {% endif %}
 </body>
</html>
