<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html>
 <head>
  <link rel="stylesheet" href="{{css}}"/>
  <link rel="stylesheet" href="/phorkie.css" />
  <title>{% block title %}{% endblock %} - phorkie</title>
  <script src="/jquery-1.7.2.min.js"></script>
  <script src="/phorkie.js"></script>
 </head>
 <body>
  <div class="navbar">
   <div class="navbar-inner">
    <div class="container">
     <a class="brand" href="/">
      phorkie
     </a>
     <ul class="nav">
      <li>
       <a href="/">New paste</a>
      </li>
      <li>
       <a href="/list">List all</a>
      </li>
      <li>
       <form class="navbar-search pull-left" action="/search" method="get">
        <input type="text" class="search-query" name="q" placeholder="Search"/>
       </form>
      </li>
     </ul>
    </div>
   </div>
  </div>

  <div class="container-fluid">
   <div class="row">
    <div class="span9">
     {% block content %}{% endblock %}
    </div>
    <div class="span3">
     <div style="height: 1em"></div>
     {% block sidebar %}{% endblock %}
    </div>
   </div>
  </div>
 </body>
</html>