{% extends "base.htm" %}
{% block title %}
Confirm deletion of repository #{{repo.id}}
{% endblock %}

{% block meta %}
<meta name="robots" content="noindex"/>
{% endblock %}

{% block content %}
<h1>Delete paste #{{repo.id}}?</h1>
<div class="well" style="margin-top: 5ex;">
 <p>
  Do you really want to delete the following paste?
 </p>
 <p>
  <strong>{{repo.getTitle}}</strong>
 </p>

 <div class="row-fluid" style="margin-top: 5ex;">
  <div class="span6">
   <a class="btn" href="{{repo.getLink('display')}}">Cancel</a>
  </div>
  <div class="span6" style="text-align: right">
   <form method="post" action="{{repo.getLink('delete-confirm')}}" style="margin: 0px">
    <button class="btn btn-danger" type="submit">
     <i class="icon-trash icon-white"></i>
     Permanently delete
    </button>
   </form>
  </div>
 </div>
</div>
{% endblock %}
