<h1>{{repo.getDescription}}</h1>
<div class="row-fluid repo-info">
 <div class="span4">
  <a class="btn" href="{{repo.getLink('edit')}}"><i class="icon-edit"></i> edit</a>
 </div>
 <div class="span4" style="text-align: center">
  <h3>Paste #{{repo.id}}</h3>
 </div>
 <div class="span4" style="text-align: right">
  <form method="post" action="{{repo.getLink('fork')}}">
    <button type="submit" class="btn"><i class="icon-share"></i> fork</button>
  </form>
 </div>
</div>

{% if repo.getCloneURL(true) or repo.getCloneURL(false) %}
<div class="well">
 {% if repo.getCloneURL(true) %}
 <div class="row-fluid">
  <div class="span3">Public clone URL</div>
  <div class="span9">
   <a href="{{repo.getCloneURL(true)}}">{{repo.getCloneURL(true)}}</a>
  </div>
 </div>
 {% endif %}
 {% if repo.getCloneURL(false) %}
 <div class="row-fluid">
  <div class="span3">Private clone URL</div>
  <div class="span9">
   <a href="{{repo.getCloneURL(false)}}">{{repo.getCloneURL(false)}}</a>
  </div>
 </div>
 {% endif %}
</div>
{% endif %}
