{% extends "base.htm" %}
{% block title %}Edit paste{% endblock %}

{% block meta %}
<meta name="robots" content="noindex"/>
{% endblock %}

{% block content %}
<form method="post" action="{{repo.getLink('edit')}}" enctype="multipart/form-data">
 <div class="control-group well pastedata">
   <label for="description">Description</label>
   <input type="text" name="description" id="description" value="{{repo.getDescription}}"/>
 </div>

 {% for fileid, file in repo.getFiles %}
  {% include 'edit-file.htm' with {'file': file, 'fileid': fileid, 'newfile': false} %}
 {% endfor %}

 {% include 'edit-add.htm' %}

 <div class="well">
  <div class="row-fluid">
   <div class="span6">
    <a class="btn" href="{{repo.getLink('display')}}">Cancel</a>
   </div>
   <div class="span6" style="text-align: right">
    <button class="btn btn-primary" type="submit">
     <i class="icon-check icon-white"></i>
     Save
    </button>
   </div>
  </div>
 </div>

</form>
<script type="application/javascript">
$(document).ready(function() {
    initEdit();
});
</script>
{% endblock %}
