{% extends "base.htm" %}
{% block title %}Edit paste{% endblock %}

{% block meta %}
<meta name="robots" content="noindex"/>
{% endblock %}

{% block content %}
<div class="content-padding-fix"></div>
<form method="post" action="{{formaction}}" enctype="multipart/form-data" class="form-horizontal">
 <div class="control-group">
  <label class="control-label" for="description">Description</label>
  <div class="controls">
   <input type="text" name="description" id="description" value="{{repo.getDescription}}"/>
  </div>
 </div>

 {% for fileid, file in repo.getFiles %}
  {% if not singlefile or file == singlefile %}
    {% include 'edit-file.htm' with {'file': file, 'fileid': fileid, 'newfile': false} %}
  {% endif %}
 {% endfor %}

 {% if singlefile == "newfile" %}
   {% include 'edit-file.htm' with {'file': null, 'fileid': 'newfile', 'newfile': true} %}
 {% endif %}

 {% include 'edit-add.htm' %}

  <div class="row-fluid formbuttons">
   <div class="span4">
    <a class="btn" href="{{repo.getLink('display')}}">Cancel</a>
   </div>
   <div class="span4" style="text-align: center">
    {% include 'edit-add-button.htm' %}
   </div>
   <div class="span4" style="text-align: right">
    <button class="btn btn-primary" type="submit">
     <i class="icon-check icon-white"></i>
     Save
    </button>
   </div>
  </div>

</form>
<script type="application/javascript">
$(document).ready(function() {
    initEdit();
});
</script>
{% endblock %}

{% block sidebar %}
 {% include 'display-sidebar-history.htm' %}
{% endblock %}
