 <div class="well filegroup" id="filegroup{{fileid}}">
  <div class="row-fluid">
   <div class="span6">
    <label for="filename_1">Filename</label>
    <input type="hidden" name="files[{{fileid}}][original_name]" value="{{file.getFilename}}"/>
    <input type="text" name="files[{{fileid}}][name]" id="filename_{{fileid}}" value="{{file.getFilename}}"/>
   </div>
   <div class="span6" style="text-align: right">
    <label for="type_{{fileid}}">Type</label>
    <!-- fixme: preselect -->
    <select name="files[{{fileid}}][type]" id="type_{{fileid}}">
     {{htmlhelper.getLanguageOptions(file)|raw}}
    </select>
   </div>
  </div>
  <textarea name="files[{{fileid}}][content]" id="content_{{fileid}}" cols="80" rows="15" class="content">{{file.getContent}}</textarea>
  <div class="row-fluid">
   <div class="span9">
    &nbsp;
    <!--
    <label for="upload_{{fileid}}" class="inline">Replace with file upload:</label>
    <input type="file" name="files[{{fileid}}][upload]" id="upload_{{fileid}}" class="btn"/>
    -->
   </div>
   <div class="span3" style="text-align: right">
    <input type="checkbox" name="files[{{fileid}}][delete]" value="1" id="delete_{{fileid}}"/>
    <label for="delete_{{fileid}}" class="inline">delete file</label>
   </div>
  </div>
 </div>

