{% extends "base.htm" %}
{% block title %}Access Denied{% endblock %}

{% block content %}

<fieldset>
  <legend>Access Denied</legend>
  <img src="images/access_denied.png" align='left'>
  <p>We're sorry, your identity is not authorized:</p>
  <p><code>{{ identity }}</code></p>
  <p>If you feel this message is in error, please notify the site admin
    and include your identity.</p>
</fieldset>
{% endblock %}

{% block sidebar %}
 {% if recents.results %}
 <h3>Recently created</h3>
 <ul>
 {% for repo in recents.repos %}
   {% include 'repo-sidebar-list.htm' %}
 {% endfor %}
 </ul>
 {% endif %}
{% endblock %}
