{% extends "base.htm" %}
{% block title %}Fork remote paste{% endblock %}

{% block meta %}
<meta name="robots" content="noindex"/>
{% endblock %}

{% block content %}
 <h1>Fork remote paste</h1>
 {% if error %}
  <div class="alert alert-error">
   <button type="button" class="close" data-dismiss="alert">×</button>
   <strong>Error</strong> {{error}}
  </div>
 {% endif %}

 {% include 'fork-remote-new.htm' %}

 {% if urls %}
  {% include 'fork-remote-multiple.htm' %}
 {% endif %}

{% endblock %}
