{% extends "base.htm" %}
{% block title %}New paste{% endblock %}

{% block content %}
<form method="post" action="/">
 <div class="control-group well pastedata">
   <label for="description">Description</label>
   <input type="text" name="description" id="description" value="{{description}}"/>
 </div>

 <div class="well">
  <div class="row-fluid">
   <div class="span6">
    <label for="filename_1">Filename</label>
    <input type="text" name="file[1][name]" id="filename_1" value="{{ file[1]['name'] }}"/>
   </div>
   <div class="span6" style="text-align: right">
    <label for="type_1">Type</label>
    <select name="file[1][type]" id="type_1">
     <option value="css">CSS</option>
     <option value="php">PHP</option>
     <option value="xml">XML</option>
    </select>
   </div>
  </div>
  <textarea name="file[1][content]" id="content_1" cols="80" rows="10" class="content">{{ file[1]['content'] }}</textarea>
 </div>

 <div class="well" style="text-align: right">
  <button class="btn btn-primary" type="submit">
   <i class="icon-check icon-white"></i>
   Create
  </button>
 </div>

</form>
{% endblock %}
