{% extends "base.htm" %}
{% block title %}List of all pastes{% endblock %}

{% block content %}
<ul class="list">
{% for repo in repos %}
 <li>
  <h2><a href="{{repo.getLink('display')}}">{{repo.id}}</a></h2>
  <p>{{repo.getDescription}}</p>
 </li>
{% endfor %}
</ul>
<ul class="pager">
 {% if links.prev %}
 <li class="previous">
  <a href="{{links.prev}}">&larr; prev</a>
 </li>
 {% else %}
 <li class="previous disabled">
  <a href="#">&larr; prev</a>
 </li>
 {% endif %}
 {% if links.next %}
 <li class="next">
  <a href="{{links.next}}">next &rarr;</a>
 </li>
 {% else %}
 <li class="next disabled">
  <a href="#">next &rarr;</a>
 </li>
 {% endif %}
</ul>
{% endblock %}
