{% extends "base.htm" %}
{% block title %}List of all pastes{% endblock %}

{% block meta %}
 <link rel="alternate" type="application/atom+xml" title="New pastes" href="feed/new" />
{% endblock %}

{% block content %}
<div style="height: 1em"></div>
<ul class="nav nav-pills nav-stacked">
{% for repo in repos %}
 {% include 'repo-list.htm' %}
{% endfor %}
</ul>

 {% include 'pager.htm' %}

{% endblock %}

{% block sidebar %}
 {% if recents.results %}
  <h4>Recently updated</h4>
  <ul class="unstyled">
  {% for repo in recents.repos %}
   {% include 'repo-sidebar-list.htm' %}
  {% endfor %}
  </ul>
 {% endif %}
{% endblock %}
