{% extends "base.htm" %}
{% block title %}New paste{% endblock %}

{% block content %}
<div class="content-padding-fix"></div>
<form method="post" action="new" enctype="multipart/form-data" class="form-horizontal">
 <div class="control-group">
  <label class="control-label" for="description">Description</label>
  <div class="controls">
   <input type="text" name="description" id="description" value="{{description}}"/>
  </div>
 </div>

 {% include 'edit-file.htm' with {'file': file[1], 'fileid': 0, 'newfile': true} %}
 {% include 'edit-add.htm' %}

 <div class="row-fluid formbuttons">
  <div class="span4"></div>
  <div class="span4" style="text-align: center">
   {% include 'edit-add-button.htm' %}
  </div>
  <div class="span4" style="text-align: right">
   <button class="btn btn-primary" type="submit">
    <i class="icon-check icon-white"></i>
    Create
   </button>
  </div>
 </div>

</form>

{% include 'fork-remote-new.htm' %}

<script type="application/javascript">
$(document).ready(function() {
    initEdit();
});
</script>
{% endblock %}


{% block sidebar %}
 {% if recents.results %}
 <h4>Recently updated</h4>
 <ul class="unstyled">
 {% for repo in recents.repos %}
   {% include 'repo-sidebar-list.htm' %}
 {% endfor %}
 </ul>
 {% endif %}
{% endblock %}
