{% extends "base.htm" %}
{% block title %}Search results{% endblock %}

{% block meta %}
<meta name="robots" content="noindex"/>
{% endblock %}

{% block content %}
{% if sres.results == 0 %}
 <p>
  Sorry, no results for "<tt>{{query}}</tt>".
 </p>
{% else %}
 <p>
  Found {{sres.results}} search results for "<tt>{{query}}</tt>":
 </p>
 <ul class="nav nav-pills nav-stacked">
 {% for repo in sres.repos %}
   {% include 'repo-list.htm' %}
 {% endfor %}
 </ul>
 {% include 'pager.htm' %}
{% endif %}

{% endblock %}

{% block sidebar %}
 <h3>Search tips</h3>
 <dl>
  <dt>Exclusion</dt>
   <dd><tt>+foo -bar</tt></dd>
  <dt>Logical OR</dt>
   <dd><tt>foo OR bar</tt></dd>
  <dt>Quoting</dt>
   <dd><tt>"foo bar"</tt></dd>
  <dt>Partial words</dt>
   <dd><tt>foo*</tt></dd>
  <dt>Particular fields only</dt>
   <dd><tt>description:foo</tt></dd>
   <dd><tt>name:foo.txt</tt></dd>
   <dd><tt>extension:rst</tt></dd>
   <dd><tt>content:Hello</tt></dd>
 </dl>
{% endblock %}
