html, body {
    background: #ededed;
    font: 82.5% Helvetica Neue, HelveticaNeue, Helvetica, sans-serif;
    margin: 30px 0 0; padding: 0px; }

h3 {
    color: #aaa;
    margin: 0; padding: 0;
    font-size: 1.3em;
    
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
    left: 0;
}

h3 a {
    color: #111;
    text-decoration: none;
}

h3 a:hover {
    text-decoration: underline;
    
}

form {
    padding: 30px;
    background: #fff;
        -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    width: 400px;
    margin: 50px auto 0;
    }
    
table {
        font-size: 1.1em !important;
        font-weight: bold;
}

td {
    width: 200px;
}
.discover_results {
    margin: 60px 0 ;
    padding: 30px;
    background: #111;
    text-align: center;
}


.discover_results b {
    color: #fff;
    font-size: 2.4em;
}

.relyingparty_results {
    width: 100%;
}

.relyingparty_results table b {
    display: block;
    width: 300px;   
    font-size: 1.7em;
    color: #fff;
}


pre, .relyingparty_results p table {
    font-size: 1.2em;
    width: 900px !important;
    text-align: left;
    margin: 0 auto;
    
    color: #ddd;
    padding: 30px;

}

.relyingparty_results {
    background: #111;
    padding: 30px;
    margin: 60px 0;
}
