/* show IDs for anchors */
a.anchorlink:before {
    font-size: smaller;
    content: '_';
    color: transparent;
}
h1[id]:hover a.anchorlink:before,
h2[id]:hover a.anchorlink:before,
h3[id]:hover a.anchorlink:before,
h4[id]:hover a.anchorlink:before,
h5[id]:hover a.anchorlink:before,
h6[id]:hover a.anchorlink:before {
    content: "\00B6";/* pilcrow */
    color: #888;
    font-size: smaller;
}
a.anchorlink {
    text-decoration: none;
    margin-left: 0.5em;
    font-size: smaller;
}
.navbar li a.brand {
    /*float: right;*/
    margin-left: -14px;
    color: #DDA;
    text-shadow: 0 0 30px rgba(255, 255, 255, .9);
}
.navbar li a.brand:hover {
    color: #FFA;
}

@media (min-width: 980px) and (max-width: 1199px) {
    .navbar .container {
        width: 940px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .navbar .container {
        width: 724px;
    }
}

.navbar + .container {
    margin-top: 2ex;
}

.footer {
    margin-top: 36px;
    margin-bottom: 0px;
    border-top: 1px solid #DDD;
    color: #999;
    text-align: center;
}

h1 {
    margin-top: 0ex;
    margin-bottom: 0.5ex;
}

.repo-info {
    margin-bottom: 2ex;
}
.repo-info form {
    margin-bottom: 0px;
}
.urlinfo {
    padding-bottom: 0px;
}

.file .header {
    padding: 0ex 0ex 0ex 1ex;
    margin-bottom: 1em;
    background-color: whiteSmoke;
    border: 1px solid #EEE;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.file .header h3 {
    margin: 0px;
    font-size: 1.2em;
}
.file .header .btn-mini {
    margin-left: 2px;
}
.file .code {
    margin-left: 2em;
}
.file .image {
    margin-bottom: 2ex;
}
.file > .document {
    margin-left: 1em;
}

.code pre {
    border: none;
    background-color: inherit;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
    color: black;
    font: normal normal 1em/1.2em monospace;
    padding: 0px;
    margin: 0px;
    margin-bottom: 2ex;
}
.code {
    overflow-x: auto;
}
.code .ln pre {
    margin-right: 1ex;
    color: #DDD;
}

div.annotations div.alert {
    margin-bottom: 1ex;
}

ul.history li {
    padding-left: 2px;
    padding-bottom: 1px;
}
ul.history li.active {
    background-color: #EEE;
    border-radius: 3px;
}
ul.history a.hash {
    font-family: monospace;
}


ul.pager {
    margin-top: 2ex;
}

.formbuttons {
    margin-top: 2ex;
}

form textarea.content {
    width: 100%;
    box-sizing: border-box;
    font-family: monospace;
    margin-bottom: 0px;
    margin-top: 2ex;
}
.content-details {
    margin-top: 12px;
}
.content-details .additional-btn {
    margin-top: -12px;
}
form .allwidth {
    box-sizing: border-box;
}
form .allwidth label {
    width: 20%;
    float: left;
}
form input#description {
    box-sizing: border-box;
    height: 2em;
    width: 100%;
}

form label.inline {
    display: inline;
}

.form-horizontal .control-label {
    text-align: left;
    width: 8em;
}

.form-horizontal .controls {
    margin-left: 8em;
}

input.fullwidthtext {
    width: 100%;
    box-sizing: border-box;
    height: auto;
}

.btn [class^="icon-"], .btn [class*=" icon-"] {
    line-height: 1.1em;
}

.content-padding-fix {
    height: 1em;
}

.indent {
    margin-left: 10px;
}

.nobr {
    white-space:nowrap;
}

.avatar-large {
    border-radius: 5px;
}
.avatar-small {
    border-radius: 3px;
}
.avatar-tiny {
    border-radius: 2px;
}

.forkdomain {
    margin-left: 2ex;
}