@media (min-width: 1200px) {
    .span12, .container {
        width: 1170px;
    }
    .navbar .container {
        width: 1170px;
    }
}
@media (min-width: 1400px) {
    .span12, .container {
        width: 1370px;
    }
    .navbar .container {
        width: 1370px;
    }
    .span9 {
        width: 1070px;
    }
}
